{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="container">
  <h1 class="text-center">Listado de Autores</h1>
  <br>
  <div class="row">
     <div class="col-md-3">
       <form class="" action="/guardarAutor/" method="post" enctype="multipart/form-data" id="frm_nuevo_autor">
         {% csrf_token %}
         <b>Seleccione el autor:</b>
         <select class="form-control" name="id_profesion" id="id_profesion" required>
      <option value="">---SELECCIONE EL AUTOR---</option >
      {%  for profesion in profesiones %}
      <option value="{{profesion.idP_df}}">{{profesion.nombre_df}}</option>
      {% endfor %}
    </select>
    <br>
         <b>Apellido del autor:</b><br>
         <input type="text" name="apellido_df" value="" id="apellido_df" placeholder="Ingrese el apellido del autor" class="form-control" required><br>
         <b>Nombre del autor:</b><br>
         <input type="text" name="nombre_df" value="" id="nombre_df" placeholder="Ingrese el nombre del autor" class="form-control" required><br>
          <br>
          <b>Edad del autor:</b><br>
          <input type="text" name="edad_df" value="" id="edad_df" placeholder="Ingrese la edad del autor" class="form-control" required><br>
    
          <b>Hoja de vida pdf</b>
          <input type="file" name="hoja_vida_pdf" accept="image/*" id="hoja_vida_pdf" value="" class="form-control" >
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

          </center>


       </form>

     </div>
     <div class="col-md-9 text-center">
       <img src="{% static 'img/descarga.png' %}" alt="" width="100px" >
       <table class="table" id="tbl_autores">
         <thead>
           <tr>
             <th class="text-center">ID</th>
             <th class="text-center">APELLIDO</th>
             <th class="text-center">NOMBRE</th>
             <th class="text-center">EDAD</th>
             <th class="text-center">HOJA DE VIDA</th>
             <th class="text-center">ACCIONES</th>
           </tr>

         </thead>
         <tbody>
           {% for autor in autores %}
              <tr>
                <td>{{autor.idA_df}}</td>
                <td>{{autor.apellido_df}}</td>
                <td>{{autor.nombre_df}}</td>
                <td>{{autor.edad_df}}</td>
                <td>{{autor.profesion.nombre_df}}</td>

                <td>
                  <a href="/editarAutor/{{autor.idA_df}}" class="btn btn-info">Editar</a>
                  <a href="javascript: void(0)" onclick="eliminarAutor('/eliminarAutor/{{autor.idA_df}}');" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
         </tbody>
       </table>
     </div>
  </div>
</div>

    <script type="text/javascript">
        function eliminarAutor(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el autor seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>
      <script type="text/javascript">
        $("#frm_nuevo_autor").validate({
          rules:{
            "id_profesion":{
              required:true
            },
            "apellido_df":{
              required:true,

            },
            "nombre_df":{
              required:true
            },
            "edad_df":{
                required:true,
                minlength:2,
                maxlength:2

            },
            "hoja_vida_pdf":{
            required:true
          }

          },
          messages:{
            "id_profesion":{
              required:"Por favor seleccione la profesion"
            },
            "apellido_df":{
              required:"Ingrese el apellido",
            },
            "nombre_df":{
              required:"Ingrese el nombre del autor"
            },
            "edad_df":{
                required:"Ingrese la edad del autor",
                minlength:"La edad debe tener como minimo 2 numeros",
                maxlength:"La edad solo debe tener 2 caracteres"
            },
            "hoja_vida_pdf":{
              required:"Ingrese la hoja de vida del autor"
            }
          }
        });
      </script>
      <script type="text/javascript">
         //let table = new DataTable('#tbl_clientes');
          $('#tbl_autores').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    messageTop: 'Reportes de autores.'
                },
                'print',
                'csv'
            ]
          } );
        </script>

  {% endblock %}
