{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">AUTORES</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionAutor/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Seleccione la profesion</b>
      <select class="form-control" name="id_profesion" id="id_profesion" required>
        <option value="">--Seleccione el autor--</option>
        {% for profesion in profesiones %}
        <option value="{{profesion.idA_df}}">{{profesion.nombre_df}}</option>
        {% endfor %}
      </select>
      <script type="text/javascript">
        document.getElementById("id_profesion" .value="{{autor.profesion.idA_df}}");
      </script>
      <input type="hidden" name="idA_df" value="{{autor.idA_df}}">
      <b>Apellido del autor:</b>
      <input type="text" name="apellido_df" id="apellido_df" value="{{autor.apellido_df}}" placeholder="Ingrese el apellido del autor" class="form-control" required>
      <br>
      <b>Nombre del autor:</b>
      <input type="text" name="nombre_df" id="nombre_df" value="{{autor.nombre_df}}" placeholder="Ingrese el nombre del autor" class="form-control" required>
      <br>
      <b>Edad del autor:</b>
      <input type="text" name="edad_df" id="edad_df" value="{{autor.edad_df}}" placeholder="Ingrese la edad del autor" class="form-control" required>
      <br>
      <b>Hoja de vida:</b>
      <input type="file" name="hoja_vida_pdf" id="hoja_vida_pdf" accept="image/*" class="form-control">
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-info">Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/autor/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
