{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">GENEROS LITERARIOS</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionGeneroL/" method="post" id="#frm_nuevo_genero" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="idGl_df" value="{{genero.idGl_df}}">
      <b>Nombre del genero literario:</b>
      <input type="text" name="nombreGl_df" id="nombreGl_df" value="{{genero.nombreGl_df}}" placeholder="Ingrese el nombre del genero literario" class="form-control" required>
      <br>
      <b>Descripcion del genero literario:</b>
      <textarea name="descripcionGl_df" id="descripcionGl_df" rows="3" class="form-control" placeholder="Ingrese la descripcion del genero literario">{{genero.descripcionGl_df}}</textarea>
      <br>
      <b>Fotografia del genero literario</b>
      <input type="file" name="foto_referenciaGl_df" accept="image/*" id="foto_referenciaGl_df" class="form-control" >

      <center>
      <button type="submit" name="button" class="btn btn-info">Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/">Cancelar</a>
      </center>
    </form>
  </div>
</div>
  
  {% endblock %}
