{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">PROFESIONES</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionProfesion/" method="post" id="#frm_nueva_profesion" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="idP_df" value="{{profesion.idP_df}}">
      <b>Nombre de la profesion:</b>
      <input type="text" name="nombre_df" id="nombre_df" value="{{profesion.nombre_df}}" placeholder="Ingrese el nombre de la profesion" class="form-control" required>
      <br>
      <b>Descripcion de la profesion:</b>
      <textarea name="descripcion_df" id="descripcion_df" rows="3" class="form-control" placeholder="Ingrese la descripcion de la profesion">{{profesion.descripcion_df}}</textarea>
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-info">Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/">Cancelar</a>
      </center>
    </form>
  </div>
</div>
  <script type="text/javascript">
    $("#frm_nueva_profesion").validate({
        rules: {
          "nombre_df": {
            required: true,
          },
        },
        messages: {
          "nombre_df": {
            required: "Ingrese el nombre de la profesion",
          },
          "descripcion_df": {
            required: "Ingrese el la descripcion de la profecion"
          },

        }
      });
  </script>
  <script type="text/javascript">
    //let table = new DataTable('#tbl_clientes');
    $('#tbl_profesiones').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'Reportes de tipos de comida.'
        },
        'print',
        'csv'
      ]
    });
  </script>

  {% endblock %}
