{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<div class="row">
  <h1 class="text-center">DETALLES</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionLibro/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Seleccione el genero literario:</b>
      <select class="form-control" name="id_genero" id="id_genero">
        <option value="">---SELECCIONE EL GENERO LITERARIO--</option>
        {%  for genero in generos %}
        <option value="{{genero.idGl_df}}">{{genero.nombreGl_df}}</option>
        {% endfor %}
      </select>
      <b>Seleccione el autor:</b>
      <select class="form-control" name="id_autor" id="id_autor">
          <option value="">---SELECCIONE EL AUTOR--</option>
          {%  for autor in autores %}
          <option value="{{autor.idA_df}}">{{autor.nombre_df}}</option>
          {% endfor %}
        </select>
      <script type="text/javascript">
       document.getElementById("id_genero").value="{{libro.genero.idGl_df}}";
       document.getElementById("id_autor").value="{{libro.autor.idA_df}}";
    </script>
      <input type="hidden" name="idL_df" value="{{libro.idL_df}}">
      <b>Titulo del libro:</b>
      <input type="text" name="titulo_df" id="titulo_df" value="{{libro.titulo_df}}" placeholder="Ingrese el titulo del libro" class="form-control" required>
      <br>
      <b>Editorial del libro</b>
      <input type="text" name="editorial_df" id="editorial_df" value="{{libro.editorial_df}}" placeholder="Ingrese la editorial" class="form-control" required>
      <br>
      <b>Fecha de publicacion del libro:</b>
      <input type="date" name="fecha_publicacion_df" value="{{libro.fecha_publicacion_df}}" id="fecha_publicacion_df" placeholder="Ingrese la fecha de publicacion del libro" class="form-control"  required><br>
        <b>Imagen Portada:</b>
      <input type="file" name="imagen_portada_df" id="imagen_portada_df" accept="image/*" class="form-control">
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-info"> Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/libros/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
