{% extends "./plantilla.html" %}

{% block contenido %}
  {% load static %}
  <div class="container">
    <h1 class="text-center">Lista de Genero literario</h1>
    <br>
    <div class="row">
      <div class="col-md-3">
        <form class="" action="/guardarGeneroL/" method="post" enctype="multipart/form-data" id="frm_nuevo_genero">
          {% csrf_token %}
          <b>Nombre del genero literario:</b>
          <input type="text" name="nombreGl_df" value="" id="nombreGl_df" placeholder="Ingrese el nombre del genero literario" class="form-control" required><br>
          <b>Descripcion del genero literio:</b>
          <textarea name="descripcionGl_df" rows="3" cols="30" id="descripcionGl_df" class="form-control" placeholder="Ingrese la descricion del genero literario" required></textarea><br>
          <b>Fotografia del genero literario</b>
          <input type="file" name="foto_referenciaGl_df" accept="image/*" id="foto_referenciaGl_df" value="" class="form-control" >
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;Guardar&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</button>
          </center>
        </form>
      </div>
      <div class="col-md-9 text-center">
        <img src="{% static 'img/descarga.png' %}" alt="" width="100px">
        <table class="table " id="tbl_generos" >
          <thead>
            <tr>
              <th class=text-center>ID</th>
              <th class=text-center>NOMBRE</th>
              <th class=text-center>DESCRIPCION</th>
              <th class=text-center>FOTOGRAFIA</th>
              <th class=text-center>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for genero in generos %}
            <tr>
              <td>{{genero.idGl_df}}</td>
              <td>{{genero.nombreGl_df}}</td>
              <td>{{genero.descripcionGl_df}}</td>

              <td>
                {% if genero.foto_referenciaGl_df %}
                <a href="{{genero.foto_referenciaGl_df.url}}" target="_blank"><img src="{{genero.foto_referenciaGl_df.url}}" alt="" height="50px">
                {% else %}</a>
                <b>N/A</b>
                {% endif %}
              </td>
              <td>
                <a href="/editarGeneroL/{{genero.idGl_df}}" class="btn btn-info">Editar</a>
                <a href="javascript: void(0)" onclick="eliminarGeneroL('/eliminarGeneroL/{{genero.idGl_df}}');" class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function eliminarGeneroL(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el genero literario seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>
  <script type="text/javascript">
    $("#frm_nuevo_genero").validate({
        rules: {
          "nombreGl_df": {
            required: true,
          },
          "descripcionGl_df": {
            required: true
          },
          "foto_referencia_df": {
            required: true
          },
        },
        messages: {
          "nombreGl_df": {
            required: "Ingrese el nombre del genero literario",
          },
          "descripcionGl_df": {
            required: "Ingrese el la descripcion del genero literario"
          },
          "foto_referenciaGl_df": {
            required: "Ingrese la fotografia del genero literario"
          },
        }
      });
  </script>
  <script type="text/javascript">
    //let table = new DataTable('#tbl_generos');
    $('#tbl_generos').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'Reportes de genero literario.'
        },
        'print',
        'csv'
      ]
    });
  </script>
{% endblock %}
