{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="container">
  <h1 class="text-center">Lista Libros</h1>
  <br>
  <div class="row">
     <div class="col-md-3">
       <form class="" action="/guardarLibro/" method="post" enctype="multipart/form-data" id="frm_nuevo_libro">
          {% csrf_token %}
          <b>Seleccione el genero literario:</b>
          <select class="form-control" name="id_genero" id="id_genero">
            <option value="">---SELECCIONE EL GENERO LITERARIO--</option>
            {% for genero in generos %}
            <option value="{{genero.idGl_df}}">{{genero.nombreGl_df}}</option>
            {% endfor %}
          </select>
          <br>
          <b>Seleccione el autor:</b>
          <select class="form-control" name="id_autor" id="id_autor">
              <option value="">---SELECCIONE EL AUTOR--</option>
              {%  for autor in autores %}
              <option value="{{autor.idA_df}}">{{autor.nombre_df}}</option>
              {% endfor %}
            </select>
            <br>
         <b>Titulo del libro:</b><br>
         <input type="text" name="titulo_df" value="" id="titulo_df" placeholder="Ingrese el titulo del libro" class="form-control" required><br>
         <b>Editorial del libro:</b>
         <input type="text" name="editorial_df" value="" id="editorial_df" placeholder="Ingrese el precio" class="form-control" required><br>
         <b>Fecha de publicacion del libro:</b>
         <input type="date" name="fecha_publicacion_df" value="" id="fecha_publicacion_df" placeholder="Ingrese la fecha de publicacion del libro" class="form-control"  required><br>
        <b>Imagen portada:</b>
         <input type="file" name="imagen_portada_df" accept="image/*" id="imagen_portada_df" value="" class="form-control" >
         <br>
         <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>
         </center>
       </form>
     </div>
     <div class="col-md-9 text-center">
       <img src="{% static 'img/descarga.png' %}" alt="" width="100px" >
       <table class="table" id="tbl_libros">
         <thead>
           <tr>
             <th class="text-center">ID</th>
             <th class="text-center">TITULO</th>
             <th class="text-center">EDITORIAL</th>
             <th class="text-center">FECHA PUBLICACION</th>
             <th class="text-center">GENERO LITERARIO</th>
             <th class="text-center">AUTOR</th>
             <th class="text-center">IMAGEN PORTADA</th>
             <th class="text-center">ACCIONES</th>
           </tr>
         </thead>
         <tbody>
           {% for libro in libros %}
              <tr>
                <td>{{libro.idL_df}}</td>
                <td>{{libro.titulo_df}}</td>
                <td>{{libro.editorial_df}}</td>
                <td>{{libro.fecha_publicacion_df}}</td>
                <td>{{libro.genero.nombreGl_df}}</td>
                <td>{{libro.autor.nombre_df}}</td>

                <td>
                  {% if libro.imagen_portada_df %}
                  <a href="{{libro.imagen_portada_df.url}}" target="_blank"><img src="{{libro.imagen_portada_df.url}}" alt="" height="50px"></a>
                  {% else %}
                  <b>N/A</b>
                  {% endif %}
                </td>
                <td>
                  <a href="/editarLibro/{{libro.idL_df}}" class="btn btn-info">Editar</a>
                  <a href="javascript: void(0)" onclick="eliminarlibro('/eliminarLibro/{{libro.idL_df}}');" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
  </div>
</div>

    <script type="text/javascript">
        function eliminarlibro(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el libro seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  }],
              ]
          });
        }
      </script>
      <script type="text/javascript">
        $("#frm_nuevo_libro").validate({
          rules:{
            "id_genero":{
              required:true
            },
            "id_autor":{
              required:true,
            },
            "titulo_df":{
              required:true
            },
            "editorial_df":{
            required:true
          },
          "fecha_publicacion_df":{
            required:true
          },
          "imagen_portada_df":{
          required:true
        }

          },
          messages:{
            "id_genero":{
              required:"Por favor seleccione el libro"
            },
            "id_autor":{
              required:"Ingrese el autor"
            },
            "titulo_df":{
              required:"Ingrese eltitulo del libro"
            },
            "editorial_df":{
              required:"Ingrese la editorial del libro"
            },
            "fecha_publicacion_df":{
            required:"Ingrese  la fecha de publicacion del libro",
          },
          "imagen_portada_df":{
          required:"Ingrese la imagen  de portada del libro"
        }
          }
        });
      </script>
      <script type="text/javascript">
         $('#tbl_libros').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    messageTop: 'Reportes del libro.'
                },
                'print',
                'csv'
            ]
          } );
        </script>

  {% endblock %}
