<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <!-- Importacion de jquery -->
         <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title></title>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <!-- Importacion de jquery-validate -->
    <script type="text/javascript"
    src="{% static 'librerias/jquery-validate/jquery.validate.js' %}">
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>

<!-- Importacion de DataTables -->
 <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
 <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js">
 </script>
 <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js">
    </script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">Profesion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'literarios' %}">Genero Literario<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'autores' %}">Autor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'libros' %}">Libro</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block contenido %}
  {% endblock %}

  {% if messages %}
        {% for mensaje in messages %}
          <script type="text/javascript">
                  iziToast.success({
                      title: 'OK',
                      message: '{{mensaje}}',
                      position: 'topRight'
});

          </script>
              {% endfor %}
      {% endif %}


  </body>
</html>
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Tus encabezados aquí -->
</head>
<body>

<div class="row" style="background-color:#8fd4fc; color:black; padding:60px;">
<div class="col-md-3">
    <h5>
        <b> <i class="fa-regular fa-address-book"></i> CONTACTOS</b>
    </h5>
    <h6>
        TELEFONO:0999335408 <br>
        DIRECCION: Quito <br>
    </h6>
</div>
<div class="col-md-3">
    <h5>
        <b><i class="fa-solid fa-clock"></i> ATENCION</b>
    </h5>
    <h6>
        Lunes a Viernes: 7am - 8pm <br>
        Sabado y Domingo:9am - 5pm <br>
        Feriados: 9am - 14pm
    </h6>
</div>
<div class="col-md-3">
    <h5>
        <b><i class="fa-brands fa-servicestack"></i> SERVICIOS</b>
    </h5>
    <h6>
        Servicio a domicilo <br>

    </h6>
</div>
<div class="col-md-3 text-center">
  <h6>
      <b><i class="fa-brands fa-share-alt"></i> REDES SOCIALES</b>
  </h6>
<div class="d-flex justify-content-around align-items-center">
    <a href="#" target="_blank">
        <img src="{% static 'img/face.png' %}" alt="Facebook" style="width: 40px;">
    </a>
    <a href="#" target="_blank">
        <img src="{% static 'img/tw.png' %}" alt="Twitter" style="width: 40px;">
    </a>
    <a href="#" target="_blank">
        <img src="{% static 'img/ins.jpeg' %}" alt="Instagram" style="width: 40px;">
    </a>
    <a href="#" target="_blank">
        <img src="{% static 'img/wt.png' %}" alt="WhatsApp" style="width: 40px;">
    </a>
</div>
</div>
</div>
</body>
</html>
