{% extends "./plantilla.html" %}

{% block contenido %}
  {% load static %}
  <div class="container">
    <h1 class="text-center">Lista de profesion</h1>
    <br>
    <div class="row">
      <div class="col-md-3">
        <form class="" action="/guardarProfesion/" method="post" enctype="multipart/form-data" id="frm_nueva_profesion">
          {% csrf_token %}
          <b>Nombre de la profesion:</b>
          <input type="text" name="nombre_df" value="" id="nombre_df" placeholder="Ingrese el nombre de la profesion" class="form-control" required><br>
          <b>Descripcion de la profesion:</b>
          <textarea name="descripcion_df" rows="3" cols="30" id="descripcion_df" class="form-control" placeholder="Ingrese la descripcion de la profesion" required></textarea><br>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-success">&nbsp;&nbsp;Guardar&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;Cancelar&nbsp;&nbsp;</button>
          </center>
        </form>
      </div>
      <div class="col-md-9 text-center">
        <img src="{% static 'img/descarga.png' %}" alt="" width="100px">
        <table class="table " id="tbl_profesiones" >
          <thead>
            <tr>
              <th class=text-center>ID</th>
              <th class=text-center>NOMBRE</th>
              <th class=text-center>DESCRIPCION</th>
              <th class=text-center>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for profesion in profesiones %}
            <tr>
              <td>{{profesion.idP_df}}</td>
              <td>{{profesion.nombre_df}}</td>
              <td>{{profesion.descripcion_df}}</td>
              <td>
                <a href="/editarProfesion/{{profesion.idP_df}}" class="btn btn-info">Editar</a>
                <a href="javascript: void(0)" onclick="eliminarProfesion('/eliminarProfesion/{{profesion.idP_df}}');" class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function eliminarProfesion(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar la profesion seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>
  <script type="text/javascript">
    $("#frm_nueva_profesion").validate({
        rules: {
          "nombre_df": {
            required: true,
          },
          "descripcion_df": {
            required: true
          },
        },
        messages: {
          "nombre_df": {
            required: "Ingrese el nombre de la profesion",
          },
          "descripcion_df": {
            required: "Ingrese el la descripcion de la profesion"
          },
        }
      });
  </script>
  <script type="text/javascript">
    //let table = new DataTable('#tbl_clientes');
    $('#tbl_profesiones').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'Reportes de profesiones.'
        },
        'print',
        'csv'
      ]
    });
  </script>
{% endblock %}
